@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@200;400;600;700;900&display=swap');


.hero__section {
    background: $veryLightGray;
    @include breakpoint-down(desktop) {
        padding-bottom: 50px;
    }
        
    .container {
        @include breakpoint-down(tablet) {
            position: relative;
            max-width: 520px;
            margin: auto;
            padding: 20px 0 10px;
            display: grid;
            justify-content: center;
            align-items: center;
            grid-template-columns: 80px 1fr;
            grid-template-rows: 1fr;
            row-gap: 1rem;
        }
        
        @include breakpoint-up(tablet) {
            padding: 70px 0 10px;
            display: grid;
            justify-content: center;
            align-items: center;
            grid-template-columns: 100px 80%;
        }
        @include breakpoint-up(desktop) {
            grid-template-columns: 150px 80%;
            padding: 65px 0 10px;

        }
        .socials {
            display: flex;
            flex-direction: column;
            margin: auto 70px auto auto;
            gap: 1.75rem;
            @include breakpoint-down(tablet) {
                margin: auto 30px auto auto;                
                grid-column: 1/2;
                grid-row: 2/3;
                margin-bottom: 130%;
            }
            @include breakpoint-up(tablet) {
                position: relative;
                left: -30%;
                font-size: 20px;
            }
            a {
                color: $primary;
                &:hover {
                    color: $secondary;
                }
            }
        }

        .descriptions {
            @include breakpoint-down(tablet) {
                grid-column: 2/3;
                grid-row: 2/3;
            }
            h1 {
                @include breakpoint-down(tablet) {
                    font-size: 1.5rem;
                
                }
                @include breakpoint-up(tablet) {
                    font-size: 1.4rem;
                    font-family: 'Gumela Regular';
                    font-weight: 900;
                    line-height: 1.8;
                    letter-spacing: 2px;
                }
                @include breakpoint-up(desktop) {
                    letter-spacing: 5px;
                    font-size: 2.2rem;
                    
                }
                span {
                    font-family: $fSecondary;
                    @include breakpoint-down(tablet) {
                        display: block; 
                        font-size: 2rem;               
                    }
                    @include breakpoint-up(tablet) {
                        font-size: 3.5rem;
                        display: block;
                        color: $primary;
                        line-height: 1.2;
                    }
                    @include breakpoint-up(desktop) {
                        font-size: 4.5rem;
                        line-height: 1;
                    }
                }
            }
            
            .title {
                @include breakpoint-down(tablet) {
                font-size: 1.5rem;
                margin: .5rem 0 1.2rem;
                }
                display: inline-block;
                font-family: $fSecondary;
                font-size: 3rem;
                font-weight: 400;
                letter-spacing: .1px;
                line-height: 1;
                @include breakpoint-up(desktop) {
                    font-size: 4.5rem;
                }
                span {
                    color: $primary;
                    font-weight: bold;
                }
            }
            .shortBio {
                @include breakpoint-down(tablet) {
                    max-width: 90%;
                    margin-bottom: 2rem;
                }
                @include breakpoint-up(tablet) {
                    font-size: 16px;
                    margin-top: 10px;
                    margin-bottom: 30px;
                    max-width: 90%;
                }
                @include breakpoint-up(desktop) {
                    font-size: 17px;
                    max-width: 65%;
                }
            }
            .button {
                padding: 7px 25px 7px;
                max-width: 125px;
                display: inline-block;
                letter-spacing: 2px;
                &.buttonR {
                    background: transparent;
                    box-shadow: none;
                    border: 2px solid $primary;
                    color: black;
                    transition: .2s ease-in-out;
                    &:hover {
                        text-decoration: none;
                        background: $primary;
                        color: white;
                        opacity: 1;
                    }
                }

                @include breakpoint-down(desktop) {
                    padding: 6px 25px 8px;
                    height: 40px;
                }

                @include breakpoint-down(tablet) {
                    margin-left: auto;
                    max-width: 125px;
                    font-size: 14px;
                    padding: 4px 29px 8px;
                    height: 35px;
                    position: absolute;
                    left: 50%;
                    transform: translate(-50%);
                }
            }
        }    
    }
}

.scroll__section {
    background-color: $veryLightGray;
    @include breakpoint-down(desktop){
        display: none;
    }
    padding-bottom: 90px;
    .scroll {
        display: block;
        margin: auto;
        height: 70px;
        width: 35px;
        border: 2px solid $primary;
        border-radius: 20px;
        .arrow {
            position: relative;
            height: 13px;
            width: 13px;
            border: 2px solid $primary;
            border-left: none;
            border-top: none;
            transform: rotate(45deg);
            display: block;
            margin: 5px auto 0;
            animation: scroll 1s ease-in-out infinite;
            &::before {
                content: "";
                display: block;
                position: relative;
                height: 20px;
                width: 0;
                border: 1px solid $primary;
                transform: rotate(-44deg);
                left: 5px;
                top: -4px;
            }
        }
    }
}

@keyframes scroll {
    0% {
        margin-top: 13px;
    }
    100% {
        margin-top: 37px;
    }
}