.projects {
    padding: 110px 0 50px;
    @include breakpoint-down(tablet) {
      padding: 70px 0 20px;
    }
    background-color: $veryLightGray;
    .container {
        h3 {
            font-size: 2.7rem;
            margin-bottom: 2rem;
            @include breakpoint-down(tablet) {
                font-size: 2.5rem;
                text-align: center;
            }

            img {
                display: inline;
                height: 28px;
            }
        }

        .works {
            .image { 
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                gap: 2rem;
                justify-items: center;
                @include breakpoint-down(desktop) {
                    grid-template-columns: repeat(2, 1fr);
                    column-gap: 0;
                    row-gap: 3rem;
                    max-width: 90%;
                    margin: auto;
                }
    
                @include breakpoint-down(tablet) {
                    grid-template-columns: 1fr;
                }
        
                .work {
                    position: relative;
                    display: grid;
                    align-items: center;
                    border-radius: 15px;
                    overflow: hidden;
                    img {
                        max-width: 300px;
                    }
        
                    &::before {
                        content: '';
                        height: 100%;
                        width: 100%;
                        background-color: rgb(54, 56, 68);
                        opacity: 0;
                        position: absolute;
                        left: 0;
                        transition: .3s;
                        z-index: 1;
                    }
                    &::after {
                        content: 'Demo';
                        display: block;
                        position: absolute;
                        z-index: 2;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                        height: 45px;
                        width: 90px;
                        padding: 10px 12px 15px;
                        background-color: rgb(39, 210, 240);
                        background-image: url(../images/arrow.png);
                        background-repeat: no-repeat;
                        background-position: center right 10px;
                        color: #000;
                        font-weight: bold;
                        text-align: left;
                        border-radius: 10px;
                        opacity: 0;
                        visibility: hidden;
                        transition: .3s;
                    }
        
                    &:hover::before, &:hover::after {
                        opacity: .7;
                        visibility: visible;                
                    }
                }
            }
        }
       
        button {
            margin: 40px auto;
            padding: 2px 15px;
            width: fit-content;
            background: transparent;
            border: 2px solid $primary;
            box-shadow: none;
            color: black;
            transition:all .2s ease-in-out;
            &:hover {
                background-color: $primary;
                color: #fff;
                & span {
                    color: #fff;
                }

            }
            span {
                font-weight: inherit;
            }
            svg {
                height: 30px;
                padding-top: 3px;
                &.rotate {
                    transform: rotate(180deg);
                }
            }
        }

        .image-collapsible .image a.hidden {
            display: none;
        }
    }
    &.active {
        background-color: #000;
        .collapse {
            button {
                color: #fff;
                svg {
                    height: 50px;
                    path {
                        fill: white;
                    }
                }
            }
        }
    }
}